<% set_meta_tags title: t('.title') %>
<div class="flex justify-center items-center h-full">
  <%= form_with url: password_resets_path do |f| %>
    <h1 class="mb-10 text-2xl">パスワードリセット申請</h1>
    <div class= "mb-3">
      <div class= 'flex flex-row'>
        <%= f.label :email, class:'ml-2'%>
      </div>
        <%= f.email_field :email, required: true, class: 'input input-bordered bg-base-300 w-[18rem]' %>
    </div>
      <%= f.submit '申請', class: "btn btn-secondary mb-4" %>
    </div>
  <% end %>
</div>