<% set_meta_tags title: t('.title') %>
<div class="h-screen" data-controller="textarea">
  <h1 class="text-center py-4 text-2xl">コメント編集</h1>
  <%= form_with model: @comment, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :body, data: { textarea_target: "textarea" }, class: "w-full min-h-24 my-2 bg-base-300 textarea textarea-bordered p-1 rounded-lg"%>
    <%= f.submit "編集完了", class: "btn btn-primary" %>
  <% end %>
</div>