<% set_meta_tags title: t('.title') %>
<div class="h-screen">
  <h1 class="text-center py-4 text-2xl">メモリー編集</h1>
  <%= form_with model: @comment, local: true do |f| %>
    <%#= render 'shared/error_messages', object: f.object %><!-- エラーが出るためコメントアウト　-->
    <%= f.text_area :body, class: "w-full h-auto my-2 text-base p-1 rounded-lg"%>
    <%= f.submit "編集完了", class: "btn btn-primary" %>
  <% end %>
</div>