<header class="bg-base-900 py-4 flex items-center justify-between">
    <div class="ml-4">
        <%= link_to "ロゴ", root_path, class: "btn btn-primary" %>
    </div>
    <nav class="mr-4">
        <%= link_to "一覧", "#", class: "btn btn-primary mr-2"%>
        <%= link_to "ログイン", "#", class: "btn btn-secondary"%>
    </nav>
</header>