<% if object.errors.any? %>
  <div role="alert" class="alert alert-error flex flex-col my-3">
    <% object.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </div>
<% end %>
