<footer class="footer-center bg-base-900 mb-5">
  <nav class="flex flex-wrap justify-center">
    <%= link_to "利用規約", "#", class: "btn btn-link btn-sm" %>
    <%= link_to "プライバシーポリシー", "#", class: "btn btn-link btn-sm" %>
    <%= link_to "お問い合わせ", "#", class: "btn btn-link btn-sm" %>
  </nav>
  <aside>
    <p>© 2024 - STAY with MU</p>
  </aside>
</footer>

