<dialog id="my_modal_3" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <div class="py-6 space-y-2">
      <p class="text-2xl font-bold">ホーム画面に追加して、思い立った時にすぐ開けるようにしましょう！</p>
      <div class="carousel carousel-center max-w-md p-4 space-x-4 bg-neutral rounded-box">
        <div class="carousel-item flex flex-col">
          <p>safariで開くのがおすすめです。</p>
          <%= image_tag 'safari.png', size: "234x108"%>
        </div>
        <div class="carousel-item flex flex-col">
          <p class="mb-1">共有ボタンを押して</p>
          <%= image_tag 'button', size: "234x108"%>
        </div>
        <div class="carousel-item flex flex-col">
          <p class="mb-1">ホーム画面に追加</p>
          <%= image_tag 'addhome.png', size: "234x108"%>
        </div>
        <div class="carousel-item flex flex-col">
          <p class="mb-1">アプリ風になります！<br>ぜひ毎日開いてください！</p>
          <%= image_tag 'home_icon.png', size: "234x108"%>
        </div>
      </div>
    </div>
  </div>
</dialog>