<footer class="footer-center container mx-auto mb-5">
  <nav class="hidden sm:flex flex-wrap justify-center">
    <%= link_to "利用規約", terms_path, class: "btn btn-link btn-sm" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "btn btn-link btn-sm" %>
    <%= link_to "お問い合わせ", "https://forms.gle/ngwcLGRTNanH5ahc7", target: "_blank", class: "btn btn-link btn-sm" %>
  </nav>
  <aside>
    <p>© 2024 - STAY with MU</p>
  </aside>
</footer>

