<% content_for(:title, t('.title')) %>
<h1 class="text-center py-4 text-2xl">メモリー編集</h1>
<%= form_with model: @memory, local: true do |form| %>
  <%#= render 'shared/error_messages', object: form.object %><!-- エラーが出るためコメントアウト　-->
  <%= form.text_area :body, class: "w-full h-auto my-2 text-base"%>
  <%= form.submit "編集完了", class: "btn btn-primary" %>
<% end %>