<h2 class="text-center font-bold mb-4">作成中のプレイリスト</h2>
<div id="preview" class="bg-base-300 rounded-lg p-4 mb-4 max-h-[30rem] overflow-y-auto">
  <% session[:current_playlist_musics].each do |music| %>
    <%= render 'playlists/music_with_remove_button', music: music %>
  <% end %>
</div>
