<% set_meta_tags title: t('.title') %>
<h1 class="text-center py-4 text-2xl">プレイリスト作成</h1>
<div class="flex flex-col sm:flex-row w-full">
  <div class="flex w-full lg:w-1/2 xl:w-1/2 flex-col mx-auto mb-4">
    <%= render 'playlists/search_form' %>
      <%= render 'playlists/search_result', musics: @musics %>
  </div>

</div>
