<% set_meta_tags title: t('.title') %>
<h1 class="text-center py-4 text-2xl">プレイリスト作成</h1>
<div class="text-center my-4">
  <p>3~50曲のプレイリストを作成できます。</p>
  <p>MUをプレイリストに入れるとレベルが上がります。</p>
  <p>追加した順番の曲順で保存されます。（曲順並び替え機能は作成中です）</p>
</div>
<div class="flex flex-col sm:flex-row w-full">
  <div class="flex w-full lg:w-1/2 xl:w-1/2 flex-col mx-auto mb-4">
    <%= render 'playlists/search_form', url: search_for_new_playlists_path %>
    <% if @musics.present? %>
      <%= render 'playlists/search_result', musics: @musics %>
    <% end %>
  </div>

  <div class="flex flex-col w-full lg:w-1/2 xl:w-1/2">
    <%= render 'playlists/preview', playlist: @playlist %>
    <%= render 'playlists/form', playlist: @playlist, form_url: playlists_path, form_method: :post, submit_text: "プレイリストをつくる!" %>
  </div>
</div>
