<div class="mx-auto">
  <div>
  <%= form_with url: search_musics_path, method: :get, local: true do |f| %>
    <%= f.text_field :search, class: "input input-bordered input-sm sm:input-md bg-base-300 w-[16rem] sm:w-[32rem]", placeholder: "曲名orアーティストで検索" %>
    <%= f.submit '検索', name: nil, class: "btn btn-sm btn-primary ml-2" %>
  <% end %>
  </div>
</div>