<% content_for(:title, t('.title')) %>
<h1 class="text-center py-4 text-2xl">みんなのMU</h1>
<div class="flex flex-wrap justify-center">
  <%= render @musics %>
</div>

<div class="flex justify-center">
  <%= paginate @musics %>
</div>